<div class="container">

  <h1>Todo Liste - Mon Gestionnaire de Tâches</h1>
<div class="row">
  <app-formulaire></app-formulaire>
</div>
  <div class="row">

    <div class="col-md-6">
      <table  class="table table-bordered table-hover">

        <!--  1ère rangée -->
        <tr *ngFor="let todo of todos" [ngClass]="setClasses(todo)" (click)="selectionnerTodo(todo)">
          <td width="55%">{{todo.texte | uppercase }}</td>
          <td width="25%">{{todo.date | date:'yyyy-MM-dd'}} </td>
          <td width="25%">{{todo.priority}}</td>
          <td width="2%"><span class="label label-danger clickable">X</span></td>
        </tr>


      </table>
    </div>
    <todo-details [todo]="todoSelectionne"></todo-details>


  </div><!-- row -->

</div><!-- container -->
